.wrapper-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    flex-direction: column;
}

.icon-error {
    font-size: 100px;
}

.header-error {
    font-family: TikTokDisplayFont;
    font-weight: 700;
    font-size: 22px;
}
