.follow-container {
    display: flex;
}

.follow-content-container {
    cursor: pointer;
}

.span-follow {
    font-family: TikTokDisplayFont;
    font-weight: 700;
}

.quantity-follow {
    font-weight: 400px;
    color: rgba(22, 24, 35, 0.75);
}
